.card{
    width: 200px;
    height: 250px;
    border: 2px solid #ededed;
    cursor: pointer;
    display: flex;
    /* padding: 10px; */
    margin: 7px;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 10px;
    width: 90%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.photo img{
    border-radius: 10px;
    height: 100%;
    width: 200px;
    z-index: -10;
}
.info{
    color: black;
    padding: 7px;
    margin: 10px;
}
.info span{
    display: flex;
    gap: 10px;
}
