.card{
    width: 200px;
    height: 250px;
    border: 2px solid #ededed;
    cursor: pointer;
    /* padding: 10px; */
    margin: 7px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.photo img{
    height: 250px;
    width: 200px;
    z-index: -10;
}
.info{
    color: white;
    z-index: 10;
    position: relative;
    top: -80px;
    padding: 7px;
}
.info h3,h5,span{
    margin: 0px
}
.info span{
    display: flex;
    gap: 10px;
}
