.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
.navbar li{
    list-style: none;
    cursor: pointer;
}
.navbar {
    width: 100%;
    color: white;
    display: flex;
    /* justify-content: space-between; */
    gap: 200px;
    background: transparent;
    align-items: stretch;
    list-style: none;
    z-index: 1000;
    position: fixed;
    top: 0px;
    padding: 1rem;
    height: 60px;
}
.new{
    background: white;
    color: black;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.buttons{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}
li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }